.rbc-month-header {
    background-color: #ffffff80 !important;
    height: 40px !important;
    border-radius: 12px !important;
    margin-bottom: 16px !important;
}

.rbc-month-view {
    border: none !important;
}


.rbc-off-range-bg {
    background-color: #3c3c3c46 !important;
    color: #ffffff !important;
    margin: 0px 4px 4px 4px !important;
    border-radius: 12px !important;
}

.rbc-off-range {
    color: #ffffff !important;
}

.rbc-day-bg{
    /* background-color: #ffffff !important;
    color: black !important; */
    margin: 0px 4px 4px 4px !important;
    border-radius: 12px !important;
}

.rbc-month-row + .rbc-month-row {
    border: none !important;
}
.rbc-day-bg + .rbc-day-bg{
    border: none !important;
}

.rbc-header{
    border-bottom: none !important;
    /* border-right: 1px solid #ddd !important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-right: #ffffff !important;
}  

.rbc-row-content{
    margin-right: 10px !important;
}



.Monthly-Summary-overlay {
    position: absolute;
    bottom: 190px;
    right: 0;
    width: 50.5vw;
    height: calc(100vh - 180px);
    top: 120px;
    /* transform: scale(0.9); */
    /* margin-top: 90px; */
    margin-right: 70px;
    background: #49494B; /* your overlay color */
    mix-blend-mode: overlay;
    z-index: 10;
    pointer-events: none;
  
    /* -webkit-mask-image: url('/JAN.png'); */
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    /* -webkit-mask-position: calc(100% - 20px) 50px; */
    -webkit-mask-position-x: right;
    -webkit-mask-position-y: bottom;
  
    /* mask-image: url('/JAN.png'); */
    mask-repeat: no-repeat;
    mask-size: contain;
    /* mask-position: calc(100% - 20px) center; */
}

