@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

.calculate-hours-card {
  position: fixed;
  max-width: 300px;
  width: 100%;
  right: -300px;
  bottom: 30px;
  transition: right 0.3s ease-in-out;

  &.show-card {
    right: 0px;
    z-index: 1000;
  }

  .arrow-toggle {
    position: absolute;
    right: 300px;
    bottom: 0;
    z-index: 1001;
  }
}

.ant-card .ant-card-body {
  padding: 10px;
  border-radius: 0 0 16px 16px;
  overflow-wrap: anywhere;
}

.full-page-spin {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(7px);
}

:where(.css-dev-only-do-not-override-82w5ug).ant-btn-sm.ant-btn-icon-only {
  width: 30px;
}

.ant-card-type-inner {
  background-color: #fbfafa;
}

.ScrollInProgress::-webkit-scrollbar {
  width: 5px;
}

.ScrollInProgress::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.ScrollInProgress::-webkit-scrollbar-thumb {
  background: #474787;
  border-radius: 10px;
}

.ScrollInProgress::-webkit-scrollbar-thumb:hover {
  background: #43437f;
}

.icons {
  border-radius: 50%;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.anticon.check {
  border-radius: 50%;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.cardWidth {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1bp3pgj).ant-card .ant-card-meta-detail>div:not(:last-child) {
  margin-bottom: -5px;
}

:where(.css-dev-only-do-not-override-1vn0kyl).ant-divider-horizontal {
  margin: 10px 0
}


.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
}

.BgCard {
  background-color: black;
  color: white;
}

.navbarSpanDark {
  color: white;
}

.containerCalendar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 300px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.rbc-today {
  background-color: #6C6CCD !important;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: transparent !important;
}